node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Certs
certs/

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Keystore
*.jks

# Tauri
src-tauri/gen/android/

# Test files
static/*.zip
static/*.cbz

# claude
.claude/
CLAUDE.md
