@import 'tailwindcss';

@theme {
  --ease-anim: cubic-bezier(0.25, 1, 0.5, 1);
  --duration-anim: 300ms;
}

:root {
  --sidebar-peek: 3.25rem;
}

body {
  @apply bg-black text-white antialiased;
  font-family: 'Source Code Pro', monospace;
}
